<nav>
  <div class="nav-wrapper blue lighten-1">
    <a href="#" class="brand-logo">CS Help Queue</a>
    <ul class="right" id="nav-list">
    <% if (!student && !helper) { %>
      <li id="addbtn"><a href="#addCurrent">Request Help <i class="material-icons right">live_help</i></a></li>
    <% } %>
    <% if (!helper) { %>
      <li id="loginbtn"><a href="#login">Helper Login <i class="material-icons right">face</i></a></li>
    <% } else { %>
      <li id="logoutbtn"><a href="#" onclick="logout();">Logout<i class="material-icons right">close</i></a></li>
    <% } %>
    </ul>
  </div>
</nav>
