body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

th, td {
  font-size: 85%;
}

table, th, td {
  padding: 5px;
}

.modal {
overflow: visible;
max-height: 100%;
}
